body {
  background-color: #ffffff;
  color: #efb6ac;
}

header {
  min-height: 80vh;
  background-image: url('header.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content-block {
  background: rgba(170,170,170,0.6);
  padding : 22px;
  text-align: center;
}

.header-content-block h1 {
  font-size: 4.25em;
}

section {
  
  padding: 2em;
}


#comp {
  background-color: #fff;
  color : #fff;
}

.comp-section-content {
 display: flex;
 justify-content: space-around;
}

.comp-content {
  background-color: #334444;
  width : auto;
  margin : 20px;
}

.comp-content p {
  padding: 1em;

}

.comp-content img {
  width : 100%;
}

.comp-content a {
  display: block;
  padding : 1em;
  float: right;
}


#portfolio {

}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portfolio-content-item {
  border: 2px solid #334444;
  max-width: 480px;
  margin : 20px;
  position : relative;
}

.portfolio-content-item h2 {
  position: absolute;
  top : 50%;
  left : 50%;
  border: 1px solid red;
}

.portfolio-content-item img {
  width : 100%;
}







.linklist {
  list-style-type: none;
}

.linklist li {
  margin: 2em;
}

.linklist a {
  color: #fff;
}


.mywork ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }


.mywork li {
width: 25%;
margin: 1em;
}

.mywork img {
  width: 100%;
}




footer {
  background-color: #efb6ac;
  color: #ffffff;
  padding : 2em;
  position: relative;
}

footer::before {
  background-color: #efb6ac;
  content : " ";
  display: block;
  width: 120px;
  height: 120px;
  position:absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);
  border-radius: 100%;
}
